@use '@angular/material' as mat;

$primary-palette: mat.define-palette(mat.$indigo-palette);
$accent-palette: mat.define-palette(mat.$pink-palette);
$warn-palette: mat.define-palette(mat.$red-palette);

$typography: mat.define-typography-config(
  $body-2:  mat.define-typography-level(16px, 24px, 500),
  $body-1:  mat.define-typography-level(16px, 20px, 400),
  $caption: mat.define-typography-level(14px, 20px, 400),
  $button:  mat.define-typography-level(16px, 14px, 500),
);

$theme: mat.define-light-theme((
 color: (
   primary: $primary-palette,
   accent: $accent-palette,
   warn: $warn-palette,
 ),
 typography: $typography,
));

/**
 * Color vars
 * https://material.angular.io/guide/theming#reading-hues-from-palettes
 */
$primary: mat.get-color-from-palette($primary-palette);
$primary-contrast: mat.get-color-from-palette($primary-palette, '500-contrast');
$accent: mat.get-color-from-palette($accent-palette);
$accent-contrast: mat.get-color-from-palette($accent-palette, '500-contrast');
$warn: mat.get-color-from-palette($warn-palette);
